.skateboarder{

	// display: none;

	// position: relative;
	// height: 100%;
	// max-width: 100%;
	

	// img{
	// 	 position: absolute;
	// 	left: 30%;
	// 	bottom: -120px;
	// 	max-width: 100%;
	// 	transform: translate(38%,-0.1%) scale(1.1);	
	// }

	// display: block;
	// max-width: 80%;
	// float: right;
	// transform: translate(-5%,9%) scale(1.10);
	
	position: absolute;
	top: 15%;
	right: 2%;
	max-width: 52%;

}
