<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="public/stylesheets/css/main.css">
	<title>Agency | challange 37</title>
</head>
<body>
	
	<header class="header js-header">
		<h1 class="header__logo">Agency</h1>
		<nav class="header__link-container">
			<nav class="header__icon-container">
				<a href="" class="header__icon"><i class="fas fa-search"></i></a>
				<a href="" class="header__icon"><i class="fab fa-facebook-f"></i></a>	
			</nav>
			<a href="" id="progress" class="header__link js-header__link">progress</a>
			<a href="" id="client" class="header__link js-header__link">clients</a>
			<a href="" id="team" class="header__link js-header__link">team</a>
			<a href="" id="work" class="header__link js-header__link">work</a>
			<a href="" id="services" class="header__link js-header__link">services</a>
			<a href="" id="about" class="header__link js-header__link">about us</a>
			<a href="" id="home" class="header__link js-header__link">home</a>
		</nav>
	</header>

	<section class="section section--home">
		<div class="container">
			<!-- <div class="skateboarder"> -->
				<img class="skateboarder" src="public/img/skateboarder.png">			
			<!-- </div> -->
			<button class="btn btn--home t-white">read more</button>
		</div>
	</section>

	<section class="section section--who-we-are">
		<!-- <div class="triangle triangle--who-we-are t-dgrey"></div> -->
		<div class="container">
			<h2 class="section__header">Who we are</h2>
			<p class="section__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
			<div class="container--flex container--50 container--mac">
				<img src="public/img/macbook.png" class="macbook">
			</div>
			<button class="btn btn--bottom t-red">read more</button>
		</div>
	</section>

	<section class="section section--what-we-do">
		<div class="container">
		
		<h2 class="section__header section__header--center">What we do</h2>
		<div class="box">
			<img src="public/img/flag.png" class="box__icon">
			<h3 class="box__header">Creative Work</h3>
			<p class="box__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
		</div>
		
		<div class="box">
			<img src="public/img/desktop.png" class="box__icon">
			<h3 class="box__header">We do Best</h3>
			<p class="box__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
		</div>

		<div class="box">
			<img src="public/img/chart.png" class="box__icon">
			<h3 class="box__header">Best company</h3>
			<p class="box__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
		</div>

		<div class="box">
			<img src="public/img/consultant.png" class="box__icon">
			<h3 class="box__header">Nice Idea</h3>
			<p class="box__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
		</div>

		<div class="box">
			<img src="public/img/map.png" class="box__icon">
			<h3 class="box__header">Professional</h3>
			<p class="box__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
		</div>

		<div class="box">
			<img src="public/img/letter.png" class="box__icon">
			<h3 class="box__header">Great Services</h3>
			<p class="box__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
		</div>
		</div>
	</section>

	<section class="section section--how-we-work">
		<div class="container">

			<h2 class="section__header">How we work</h2>
			<div class="diamonds">
				<div class="diamond diamond--1">
					<h3 class="diamond__num">1.</h3>
					<div class="diamond__container">
					<h3 class="diamond__header">idea</h3>
					<p class="diamond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fuga incidunt est. </p>
				</div>
				</div>
				<div class="diamond diamond--2">
					<h3 class="diamond__num">2.</h3>
					<div class="diamond__container">
					<h3 class="diamond__header">design</h3>
					<p class="diamond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit debitis nihil. </p>
				</div>
				</div>
				<div class="diamond diamond--3">
					<h3 class="diamond__num">3.</h3>
					<div class="diamond__container">
					<h3 class="diamond__header">output</h3>
					<p class="diamond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit debitis nihil. </p>
				</div>
				</div>
			</div>

			<p class="section__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
		</p>
			<button class="btn btn--bottom t-red">read more</button>
		</div>
	</section>

	<section class="section section--team">
		<div class="container">
		<h2 class="section__header section__header--center">Our creative team</h2>
			<div class="carousel">						

				<div class="carousel__card carousel__card--left"></div>
				<div class="carousel__card carousel__card--mid"></div>
				<div class="carousel__card carousel__card--right"></div>


				<span class="carousel__arrow carousel__arrow--left"></span>
				<span class="carousel__arrow carousel__arrow--right"></span>
			
			<div class="card-caption">
				<span class="card-caption__name"><p>John Doe</p></span>
				<span class="card-caption__position"><p>Designer</p></span>
			</div>

			</div>
		</div>
	</section>

	<section class="section section--client">
		<div class="container">
		<h2 class="section__header">What client says</h2>
			<div class="client__card"></div>

			<div class="client__container">
				<img src="public/img/quote.png">
			<blockquote class="client__opinion"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</blockquote>
			<p class="client__name">Jinny Snow, COMPANY CEO</p>
			<div class="client__cards">
				<div class="client__card--s client__card--1 client__card--active"></div>
				<div class="client__card--s client__card--2"></div>
				<div class="client__card--s client__card--3"></div>
			</div>
			</div>
		</div>
	</section>

	<footer class="footer js-footer">
		<div class="container">

		<h2 class="section__header section__header--center">Get in touch</h2>
		
		
		<div class="footer-cards">

			<div class="footer-card">
				<img src="public/img/ft-letter.png" class="footer-card__icon">
				<h3 class="footer-card__header">Email</h3>
				<p class="footer-card__text">free@psdfreebies.com <br>
					free@psdfreebies.com
				</p>
			</div>
			
			<div class="footer-card">
				<img src="public/img/ft-phone.png" class="footer-card__icon">			
				<h3 class="footer-card__header">Phone</h3>
				<p class="footer-card__text">+123 456 7890 <br>
					+123 456 7890
				</p>
			</div>

			<div class="footer-card">
				<img src="public/img/ft-map.png"  class="footer-card__icon">			
				<h3 class="footer-card__header">Office</h3>
				<p class="footer-card__text">123, Main Road, New City,<br>
					My Country 123456
				</p>
			</div>
		</div>

		<div class="footer__links">
			
			<div class="links__icon"><i class="fab fa-facebook-f"></i></div>
			<div class="links__icon"><i class="fab fa-google-plus-g"></i></div>
			<div class="links__icon"><i class="fab fa-vk"></i></div>
			<div class="links__icon"><i class="fab fa-youtube"></i></div>
			<div class="links__icon"><i class="fab fa-linkedin-in"></i></div>
			<div class="links__icon"><i class="fab fa-digg"></i></div>
			<div class="links__icon"><i class="fab fa-deviantart"></i></div>

			<p class="links__caption">Copyright © 2017. PSDFreebies.com  | Best PSD Template for freelancer and agencies
			</p>
		</div>

	</div>
	</footer>
	
<script src="public/js/main.js" ></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>