.t-white{
	background-color: #ffffff;
	color: #242424;

	box-shadow: 0 2px 5px 0px #fff;
}

.t-red{
	background-color: #bc2e3a;
	color: #ffffff;
	box-shadow: 0 2px 5px 0px #bc2e3a;
}

.t-dgrey{
	background-color: #171717;
}